@import "nullestyle.scss";

p {
	font-size: 36px;
	background-color: gray;
	margin: 20px;
	padding: 10px;
}

div{
	font-size: 36px;
	margin: 20px;
}

input{
	margin: 10px;
	border: 1px solid;
}

button{
	margin: 10px;
	border:1px solid;
	padding: 15px;
}
table{
	border: 1px solid;
	height: 500px;
	width: 500px;
}

td {
	border: 1px solid;
}

